/*******************************************************
*
* Mobile styles and other media queries
*
*******************************************************/

/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */

@media only screen and (min-width: 992px) {
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Cta Region */

  /*#endregion Cta Region */

  /*#region Buffalo-stories Region */

  /*#endregion Buffalo-stories Region */

  /*#region Quick Search Region */

  .quick-search-form {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
  }
  .primary-qs-item {
    grid-column: 1/-1;
    grid-row: 1;
  }
  .secondary-qs-item {
    grid-column: 15/30;
    grid-row: 2;
  }
  .tertiary-qs-item {
    grid-column: 30/44;
    grid-row: 2;
  }
  .fourth-qs-item {
    grid-column: 44/52;
    grid-row: 2;
  }
  .fifth-qs-item {
    grid-column: 52/60;
    grid-row: 2;
  }
  .sixth-qs-item {
    grid-column: 60/68;
    grid-row: 2;
  }
  .seventh-qs-item {
    grid-column: 68/76;
    grid-row: 2;
  }
  .eighth-qs-item {
    grid-column: 77/89;
    grid-row: 2;
  }

  .ninth-qs-item {
    grid-row: 2;
  }

  /*#endregion Quick Search Region */

  /*#region Welcome Region */

  .region-welcome-container {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(100, 1fr);
    margin: 0 auto;
  }
  .welcome-primary-section {
    grid-column: 1/45;
  }
  .welcome-secondary-section {
    grid-column: 52/-1;
  }

  .region-welcome-container .site-title-primary {
    text-align: left;
  }

  /*#endregion Welcome Region */

  /*#region Team Region */

  /*#endregion Team Region */

  /*#region Properties Region */

  /*#endregion Properties Region */

  /*#region Sold Region */

  /*#endregion Sold Region */

  /*#region Areas Region */

  /*#endregion Areas Region */

  /*#region Testimonial Region */

  /*#endregion Testimonial Region */

  /*#region Blogs Region */

  /*#endregion Blogs Region */

  /*#region Social Region */

  /*#endregion Social Region */

  /*#region Contact Region */

  /*#endregion Contact Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

@media only screen and (max-width: 1450px) {
  /* 1367 */
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Cta Region */

  /*#endregion Cta Region */

  /*#region Buffalo-stories Region */

  /*#endregion Buffalo-stories Region */

  /*#region Quick Search Region */

  /*#endregion Quick Search Region */

  /*#region Welcome Region */

  /*#endregion Welcome Region */

  /*#region Team Region */

  /*#endregion Team Region */

  /*#region Properties Region */

  /*#endregion Properties Region */

  /*#region Sold Region */

  /*#endregion Sold Region */

  /*#region Areas Region */

  /*#endregion Areas Region */

  /*#region Testimonial Region */

  /*#endregion Testimonial Region */

  /*#region Blogs Region */

  /*#endregion Blogs Region */

  /*#region Social Region */

  /*#endregion Social Region */

  /*#region Contact Region */

  /*#endregion Contact Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

@media only screen and (max-width: 1366px) {
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Cta Region */

  /*#endregion Cta Region */

  /*#region Buffalo-stories Region */

  /*#endregion Buffalo-stories Region */

  /*#region Quick Search Region */

  /*#endregion Quick Search Region */

  /*#region Welcome Region */

  /*#endregion Welcome Region */

  /*#region Team Region */

  /*#endregion Team Region */

  /*#region Properties Region */

  /*#endregion Properties Region */

  /*#region Sold Region */

  /*#endregion Sold Region */

  /*#region Areas Region */

  /*#endregion Areas Region */

  /*#region Testimonial Region */

  /*#endregion Testimonial Region */

  /*#region Blogs Region */

  /*#endregion Blogs Region */

  /*#region Social Region */

  /*#endregion Social Region */

  /*#region Contact Region */

  /*#endregion Contact Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

@media only screen and (max-width: 1199px) {
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Cta Region */

  /*#endregion Cta Region */

  /*#region Buffalo-stories Region */

  /*#endregion Buffalo-stories Region */

  /*#region Quick Search Region */

  /*#endregion Quick Search Region */

  /*#region Welcome Region */
  .hp-welcome .site-title-primary {
    font-size: 37px;
  }
  /*#endregion Welcome Region */

  /*#region Team Region */

  /*#endregion Team Region */

  /*#region Properties Region */
  .hp-properties .properties-content {
    width: 335px;
    height: 283px;
  }

  .hp-properties .site-btn {
    min-width: 220px;
    font-size: 12px;
  }
  /*#endregion Properties Region */

  /*#region Sold Region */
  .hp-sold .sold-content .site-btn {
    min-width: 170px;
    font-size: 12px;
    height: 43px;
  }
  .hp-sold .bbs {
    gap: 34px;
    margin-bottom: 20px;
  }
  .hp-sold .bbs span::before {
    height: 19px;
  }
  .hp-sold .sold-content p {
    font-size: 12px;
    margin-bottom: 12px;
  }
  .hp-sold .sold-content h3 {
    font-size: 28px;
  }
  .hp-sold .sold-content {
    height: 196px;
  }
  /*#endregion Sold Region */

  /*#region Areas Region */

  /*#endregion Areas Region */

  /*#region Testimonial Region */
  .hp-testimonials .testimonials-slick {
    max-width: 900px;
  }
  .hp-testimonials {
    padding: 112px 15px 82px;
  }
  .testimonials-slick-arrow {
    max-width: 992px;
  }

  /*#endregion Testimonial Region */

  /*#region Blogs Region */

  /*#endregion Blogs Region */

  /*#region Social Region */

  /*#endregion Social Region */

  /*#region Contact Region */

  /*#endregion Contact Region */

  /*#region Footer */
  .region-footer-container {
    max-width: 880px;
    margin: 0 auto;
  }
  .location br {
    display: none;
  }
  .footer-mid strong {
    font-size: 19px;
  }
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

/* iPad(portrait) | Galaxy Tab 4(portrait) */

@media only screen and (max-width: 991px) {
  body.is-open {
    overflow: auto;
  }
  .site-bg img {
    object-fit: cover;
  }
  .site-title {
    text-align: center;
  }

  #pojo-a11y-toolbar .pojo-a11y-toolbar-toggle a {
    display: none !important;
  }

  .section-title {
    text-align: center;
    margin-bottom: 40px;
  }

  .hp-sidebar {
    display: none;
  }

  /*#region Header */

  header.header {
    position: relative;
    margin-top: 53px;
    background: #111;
    padding: 25px 15px;
  }
  .header-container {
    display: flex;
    justify-content: center;
  }

  .navigation {
    display: none;
  }

  /*#endregion Header */
  /* CTA */
  .region-cta-container {
    grid-template-columns: 1fr;
    padding: 30px 0;
  }
  .cta-btn {
    padding: 30px 0;
  }
  /* WELCOME */
  .hp-welcome {
    padding: 97px 15px 106px;
  }
  .welcome-primary-section img {
    margin: 0 auto 60px;
  }

  .hp-welcome .site-btn {
    margin: 0 auto;
  }
  .hp-welcome .site-title-primary::before {
    width: 100%;
  }

  .hp-welcome p {
    text-align: center;
    max-width: 777px;
    margin: 0 auto 20px;
  }

  /* Properties */
  .hp-properties .properties-content {
    position: relative;
    left: initial;
    bottom: initial;
    margin: 40px auto 0;
  }
  .region-areas-container {
    flex-direction: column;
    max-width: 679px;
  }

  /* AREAS */
  .region-areas-container {
    padding: 0 15px;
  }

  .areas-bg img {
    width: 50%;
    height: 90%;
  }

  /* TEstimonials */
  .testimonials-slick-arrow {
    max-width: 992px;
    position: relative;
    top: initial;
    left: initial;
    transform: none;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  .hp-testimonials .site-btn {
    min-width: 290px;
    font-size: 12px;
  }

  .testimonials-slick-arrow span {
    width: 70px;
    height: 70px;
    font-size: 22px;
  }

  /* Buffalo */
  .hp-buffalo-stories .site-bg img,
  .hp-buffalo-stories::before {
    display: none;
  }

  .hp-buffalo-stories {
    padding: 118px 15px 115px;
  }

  .hp-buffalo-stories p {
    max-width: 600px;
  }

  /* TEAM */
  .hp-team .team-slick {
    max-width: 690px;
  }

  /* VLOGS */
  .blogs-slick-arrow {
    position: relative;
    justify-content: center;
    gap: 20px;
    margin: 35px 0;
    padding: 0;
    top: initial;
    left: initial;
    transform: none;
  }

  .blogs-slick-arrow span {
    width: 70px;
    height: 70px;
    font-size: 22px;
  }

  /*#region Contact */
  .hp-contact {
    margin-left: 15px;
    margin-right: 15px;
  }
  .region-contact-container {
    padding: 0 15px;
  }
  .contact-form .form-md {
    width: 100%;
  }

  .contact-form .pad-left,
  .contact-form .middle-pad-left,
  .contact-form .pad-right,
  .contact-form .middle-pad-right {
    padding: 0;
  }

  /*#endregion Contact */

  /* Footer */
  .footer-logo {
    flex-direction: column;
    gap: 27px;
  }
  .footer-mid {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer-mid strong,
  .mls,
  .copyright {
    text-align: center;
  }
  .footer-group .copyright {
    max-width: 600px;
  }
  .fci-wrapper {
    align-items: center;
  }

  .footernav {
    text-align: center;
    grid-template-columns: 1fr;
    padding: 0;
  }
  .footer-group ul {
    justify-content: center;
  }
  .footer {
    padding: 0 15px 75px;
  }
  /* The following are used on inner pages. Please edit carefully. */
  .aios-mobile-header-wrapper {
    z-index: 1020 !important;
  }

  .inner {
    width: 100%;
  }
  #content-sidebar,
  #content-full {
    width: 100%;
  }
  .outer {
    width: 100%;
    min-width: 100%;
  }
  #content-sidebar #content {
    width: 100%;
  }
}

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */

@media only screen and (max-width: 767px) {
  /* 481 */
  /* TEAM */
  /* Sold */
  .hp-sold .sold-slick {
    max-width: 465px;
  }

  .hp-sold .sold-slick-arrow {
    position: relative;
    justify-content: center;
    gap: 20px;
    margin: 35px 0;
    padding: 0;
    top: initial;
    left: initial;
    transform: none;
  }
  .hp-sold .sold-slick-arrow span {
    width: 70px;
    height: 70px;
    font-size: 22px;
  }
  /* TEAM */
  .hp-team .team-slick {
    max-width: 339px;
  }
  .ip-banner .container {
    width: 100%;
  }
}

/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */

@media only screen and (max-width: 480px) {
  /*#region Global */
  .site-title-primary {
    font-size: 38px;
  }

  /* Properties */
  .hp-properties .canvas-wrapper {
    height: 210px;
  }
  .hp-properties .properties-content {
    width: 100%;
  }

  /* AREAS */
  .hp-areas .wrapper-item span {
    font-size: 18px;
    bottom: 17px;
    left: 17px;
  }
  .hp-areas .site-title-primary {
    font-size: 32px;
  }

  /* SOLD */
  .hp-sold .site-title-primary {
    font-size: 31px;
  }
  /*#endregion Global */
  /* VLOGS */
  .hp-blogs .blogs-slick {
    padding: 0;
  }
  /* Contact */
  .contact-form div.wpcf7-response-output {
    font-size: 11px;
  }
  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}
